{% extends 'layouts/layout.html' %}
{% load static %}

{% block body %}
<main class="site-main">


    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="{% static 'images/hero-banner.png' %}" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                        <h1>Get the latest and the greatest item</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas molestiae eligendi aut
                            temporibus voluptatum error eius tempore suscipit modi quod!
                        </p>
                        <a class="button button-hero" href="{% url 'frontend:frontend' %}items">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Popular Item in the market</p>
                <h2>Trending <span class="section-intro__style">Product</span></h2>
            </div>
            <div class="row">

                {% for item in qs %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="{{ item.get_first_thumbnail_img.url }}" alt="">
                        </div>
                        <div class="card-body">
                            <p>{{ item.category.ct }}</p>
                            <h4 class="card-product__title"><a
                                    href="{% url 'frontend:frontend' %}item/{{ item.title_slug }}">{{ item.title }}</a>
                            </h4>
                            <p class="card-product__price">${{ item.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>



    <section class="blog">
        <div class="container">
            <div class="section-intro pb-60px">
                <p>Popular Item in the market</p>
                <h2>Latest <span class="section-intro__style">Blogs</span></h2>
            </div>

            <div class="row mb-5">

                {% for blog in blog_qs %}
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="{{ blog.thumbnail_small.url }}" alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li>By Admin</li>
                            </ul>
                            <h4 class="card-blog__title">
                                <a href="{% url 'frontend:frontend' %}blog/{{ blog.title_slug }}">
                                    {{ blog.title }}
                                </a>
                            </h4>
                            <p>
                                {{ blog.about|truncatechars:60 }}
                            </p>
                            <a class="card-blog__link"
                                href="{% url 'frontend:frontend' %}blog/{{ blog.title_slug }}">Read More <i
                                    class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section>

</main>
{% endblock body %}