{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-commerce</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">

    <!-- linking css -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">

    <!-- themify icon -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">

    <!-- sweetalert2 -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.20/sweetalert2.min.css" />

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- linking js -->

    <!-- jquery -->
    <script defer src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
    <script defer src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>

    <!-- bootstrap -->
    <script defer src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- axios -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <!-- sweetalert2 -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.20/sweetalert2.min.js"></script>

    <!-- custom  -->
    <script defer>
        const cartActiveUrl = "{% url 'products:cart' %}"
    </script>
    <script defer src="{% static 'js/app.js' %}"></script>

    {% block js %}{% endblock js %}


</head>

<body>

    {% include 'layouts/navbar.html' %}

    {% block body %}{% endblock body %}

    {% include 'layouts/footer.html' %}

</body>

</html>