{% extends 'layouts/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block body %}

<section class="login_box_area section-margin">
    <div class="container">
        <div class="col-12 px-2 px-md-5">
            <div class="d-flex h-100 justify-content-center flex-column">
                <h3>Register</h3>
                <form method="POST"">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <p class=" text-muted p-small mt-2">
                    Already have an account? <a href="{% url 'accounts:login' %}">Login Now!</a>
                    </p>
                    <button type="submit" value="submit" class="button button-login">Log In</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}