{% extends 'layouts/layout.html' %}


{% block body %}
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        
                        {% if qs %}
                            
                        {% for cart_item in qs %}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{ cart_item.item.get_first_thumbnail_img.url }}" alt="">
                                    </div>
                                    <div class="media-body d-flex align-items-center justify-content-between">
                                        <a href="{% url 'frontend:frontend' %}item/{{ cart_item.item.title_slug }}"
                                            class="text-dark">
                                            <p>{{ cart_item.item.title }}</p>
                                        </a>
                                        <a href="{% url 'products:remove-item' cart_item.item.title_slug %}">
                                            <i class="ti-close ml-3 text-danger"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{ cart_item.item.price }}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <p>
                                        {{ cart_item.quantity }}
                                    </p>
                                </div>
                            </td>
                            <td>
                                <h5>${{ cart_item.item_total }}</h5>
                            </td>
                        </tr>
                        {% endfor %}

                        {% else %}

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>No item in your cart</td>
                        </tr>

                        {% endif %}
                            

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>${{ total_price }}</h5>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td class="d-none-l"></td>
                            <td class=""></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="{% url 'frontend:frontend' %}items">Continue Shopping</a>
                                    <form action="{% url 'products:order' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="primary-btn border-0 ml-2">Proceed to checkout</button>
                                    </form>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
{% endblock body %}